@font-face {
  font-family: 'Splatfont2';
  src: url('Splatfont2.ttf') format('truetype');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Style pour la victoire */
.victoire {
  color: green;
  font-weight: bold;
}

/* Style pour la défaite */
.defaite {
  color: red;
  font-weight: bold;
}

.container p {
  text-align: center;
}

body {
    background-image: url('image/noir.jpg');
    background-size: cover;
    background-attachment: fixed;
	font-family: 'Splatfont2', sans-serif;
    margin: 0; /* Pour s'assurer qu'il n'y a pas de marge autour du corps de la page */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}


.paragraphe1 {
  margin-bottom: 5px; /* Ajustez la valeur selon vos besoins */
  margin-top: 5px;
  font-size: 18px; /* Ajustez la valeur selon vos besoins */
  color: white;
}

.paragraphe2 {
  margin-top: 5px; /* Ajustez la valeur selon vos besoins */
  font-size: 18px; /* Ajustez la valeur selon vos besoins */
  color: white;
}

.titre1 {
	margin-bottom: 1px;
	margin-top: 5px;
}

h1 {
  font-size: 60px; /* Ajustez la valeur selon vos besoins */
  text-shadow: 4px 4px 8px #800080, -4px -4px 8px #FF0000;
  color : white
}

h2 {
  font-size: 30px; /* Ajustez la valeur selon vos besoins */
  text-shadow: 4px 4px 8px #800080, -4px -4px 8px #FF0000;
  color : white ;
  margin-top: 200px ;
  margin-bottom: 1px ;
}

.nomequipe {
    font-size: 20px;
  }

p {
  font-size: 17px; /* Ajustez la valeur selon vos besoins */
  color: white;
}

.box {
  background-color: #f2f2f2;
  border: 4px solid #ccc;
  padding: 40px;
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

table {
  width: 900px; /* Définit la largeur du tableau à 100% de son conteneur */
  border-collapse: collapse; /* Fusionne les bordures des cellules */
  background-color: #f2f2f2; /* Définit la couleur de fond du tableau */
  border: 3px solid black;
  margin-left : 50px;
  margin-right : 50px;
}

.custom-table {
      width: 500px; /* Changer cette valeur selon votre besoin */
      margin: 0 auto; /* Centrer le tableau horizontalement */
      border-collapse: collapse;
      border: 3px solid black;
 border-collapse: collapse; /* Fusionne les bordures des cellules */
  background-color: #f2f2f2; /* Définit la couleur de fond du tableau */
 margin-left : 80px;
  margin-right : 80px;
    }

th, td {
  padding: 5px; /* Ajoute un espace intérieur de 10 pixels aux cellules */
  text-align: center; /* Centre le contenu des cellules */
}

tbody tr:nth-child(even) {
  background-color: #ffffff; /* Définit la couleur de fond des lignes paires */
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Définit la couleur de fond des lignes impaires */
}

.image-colonne {
  width: 50px; /* Définissez la largeur souhaitée pour les images */
  height: auto; /* Permet de conserver les proportions d'origine de l'image */
}

.medaille {
  width: 60px; /* Définissez la largeur souhaitée pour les images */
  height: auto; /* Permet de conserver les proportions d'origine de l'image */
}

.image-colonne2 {
  width: 70px; /* Définissez la largeur souhaitée pour les images */
  height: auto; /* Permet de conserver les proportions d'origine de l'image */
}

.or {
  color: #FFD700;
  font-size: 30px;
}

.argent {
  color: #C0C0C0;
  font-size: 25px;
}

.bronze {
	color: #CD7F32;
  font-size: 22px;
}

caption {
	font-size: 70px; /* Ajustez la valeur selon vos besoins */
	text-shadow: 16px 16px 32px rgba(200, 123, 243, 1), -16px -16px 32px rgba(106, 13, 173, 1);
	color : white ;
	margin-bottom: 0px ;
	margin: 0;
	padding: 0;
}
	
.logoequipe {
	width: 250px; /* Définissez la largeur souhaitée pour les images */
	height: auto; /* Permet de conserver les proportions d'origine de l'image */
}

.titreequipe {
	text-decoration: underline;
	font-size: 35px
	color: white;
}

h4 {
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 5px;
	color: white;
}

h5 {
	font-size: 25px;
	text-decoration: underline;
	color: white;
}

.bloc-couleur1 {
  background-color: white;
  width: 1000px;
  height: 420px;
  border: 2px solid black;
}

.bloc-couleur2 {
  background-color: white;
  width: 1000px;
  height: 130px;
  border: 2px solid black;
}

.bloc-couleur3 {
  background-color: white;
  width: 900px;
  height: 130px;
  border: 2px solid black;
}

.text-item {
  display: inline-block; /* Afficher les textes sur la même ligne */
  margin-right: 50px; /* Espacement entre les textes */
  font-size: 18px;
color: white;
}

.capitaine-color {
	display: inline-block; /* Afficher les textes sur la même ligne */
	margin-right: 50px; /* Espacement entre les textes */
	font-size: 20px;
	color : red;
	font-weight: bold;
}

.borderedImage {
      border: 4px solid #000; /* Couleur et largeur de la bordure */
      max-width: 40%; /* Largeur maximale de l'image */
    }

#monGraphique {
  background-color: rgba(221, 160, 221, 0.7);
}
#monGraphique2 {
  background-color: rgba(221, 160, 221, 0.7);
}
#monGraphique3 {
  background-color: rgba(221, 160, 221, 0.7);
}
#monGraphique4 {
  background-color: rgba(221, 160, 221, 0.7);
}
#monGraphique5 {
  background-color: rgba(221, 160, 221, 0.7);
}
#monGraphique10 {
  background-color: rgba(221, 160, 221, 0.7);
}
#monGraphique11 {
  background-color: rgba(221, 160, 221, 0.7);
}
.graphique-container {
  width: 60%; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Centre le conteneur horizontalement */
}
